<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBancoDados.Properties.Settings.stringConexao"
            connectionString="Data Source=DESKTOP-P4A0C0T;Initial Catalog=dbT1;User ID=sa;Password=temp.123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>